.breadcrumbs {
    visibility: hidden;
    font-family: @v3-title-font-family-rg;
    font-size: 14px;

    ul.items {
        margin-left: 30 * @v3-base-desktop-vw;
    }

    a {
        &:after {
            content: ">";
            color: #000 !important;
            padding: 0 5px;
        }
    }
}

.catalog-category-view .breadcrumbs {
    visibility: visible;
}