.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-ExtraBoldOblique',
    @font-weight: 800,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedOblique',
    @font-weight: 500,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Condensed',
    @font-weight: 500,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Bold',
    @font-weight: bold,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-BookOblique',
    @font-weight: normal,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Book',
    @font-weight: normal,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedExtraBold',
    @font-weight: 800,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedLight',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT',
    @font-weight: 500,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedLightObl',
    @font-weight: 300,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT',
    @font-weight: 500,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-BoldOblique',
    @font-weight: bold,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-ExtraBold',
    @font-weight: 800,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedBoldOblique',
    @font-weight: bold,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondExtraBoldObl',
    @font-weight: 800,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Heavy',
    @font-weight: 900,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-HeavyOblique',
    @font-weight: 900,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-LightOblique',
    @font-weight: 300,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Oblique',
    @font-weight: 500,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedBold',
    @font-weight: bold,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'FuturaSHOP',
    @font-path: '@{baseDir}fonts/FuturaSHOP-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Montserrat',
    @font-path: '@{baseDir}fonts/Montserrat-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Montserrat Semi',
    @font-path: '@{baseDir}fonts/Montserrat-SemiBold',
    @font-weight: 600,
    @font-style: normal
);