

/* Widget: Social Links */
ul.social-links { overflow:hidden; float:left; }

ul.social-links li {
    float:left; 
    padding:0 6px 0 0!important;
    background:none!important;
}

ul.social-links li a {
    display:block; 
    width:21px;
    height:21px;
    text-decoration:none;
    background-image:url(../images/social_icons.png);
    background-position:0 0;
    background-repeat:no-repeat;
}
ul.social-links li a:hover{text-decoration:none;}
ul.social-links li a.twitter{background-position:-27px top;}
ul.social-links li a.rss{background-position:-108px top;}
ul.social-links li a.facebook{background-position:left top;}
ul.social-links li a.googleplus{background-position:-81px top;}
ul.social-links li a.linkedin{background-position:-54px top;}
ul.social-links li a.youtube{background-position:left bottom;}
ul.social-links li a.pinterest{background-position:-27px bottom;}
/* //Social Links */

ul.social-links li a { height: 32px; width: 32px; }
ul.social-links li a.facebook { background-position: -0 top; }
ul.social-links li a.twitter { background-position: -32px top; }
ul.social-links li a.pinterest { background-position: -64px top; }
ul.social-links li a.instagram { background-position: -96px top; }
ul.social-links li a.youtube { background-position: -128px top; }
ul.social-links li a.facebook:hover { background-position: -0 bottom; }
ul.social-links li a.twitter:hover { background-position: -32px bottom; }
ul.social-links li a.pinterest:hover { background-position: -64px bottom; }
ul.social-links li a.instagram:hover { background-position: -96px bottom; }
ul.social-links li a.youtube:hover { background-position: -128px bottom; }


#footer.v3 {
    border-top: 1px solid @v3-border-color;

    .footer-top-wrapper {
        max-width: @v3-container-max-width;
        margin: 0 auto;
        padding: 0 60px;

        display: flex;

        & > div {
            padding: 20px 0 40px;

            .title {
                font-family: 'Proxima Nova Lt';
                font-size: 13px;
                font-weight: 600;
                line-height: 50px;
                margin-bottom: 20px;
                text-transform: uppercase;                
            }

            ul {
                li {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    font-family: 'Avenir LT Std';
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 40px;

                    &, a {
                        vertical-align: middle;
                        color: #080501;
                    }
                }
            }
        }

        .help {
            width: 22%;
        }

        .shop {
            width: 18%;
        }

        .company {
            width: 18%;
        }

        .visit-us {
            width: 18%;
        }

        .community {
            width: 24%;
            position: relative;

            .form-subscribe-header label {
                font-family: 'Avenir LT Std';
                font-weight: 300;
                font-size: 13px;
                line-height: 40px;
                margin-bottom: 10px;
                display: block;
            }

            input#newsletter {
                font-family: 'Avenir LT Std';
                font-weight: 300;
                font-size: 13px;
                line-height: 30px;
                padding: 10px 40px 10px 20px;
                height: 50px;

                color: #080501;
                border-color: #080501;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            button.button {
                width: 40px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin-top: -50px;

                font-family: 'Avenir LT Std';
                font-weight: 300;
                font-size: 13px;

                color: #080501;

                position: absolute;
                right: 0;
            }
        }
    }

    .footer-bottom-wrapper {
        background: #f4f4f4;
        .content {
            max-width: @v3-container-max-width;
            margin: 0 auto;
            padding: 0 60px;

            font-family: 'Avenir LT Std';
            font-weight: 300;
            font-size: 13px !important;
            line-height: 86px;
            color: #080501;     

            a, small {
                font-weight: 300;
                font-size: 13px !important;                
                color: #080501;
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            > div {
                float: left;
            }

            div.copyright {
                width: 40%;
            }

            .privacy-terms-conditions {
                text-align: center;
                width: 20%;
            }

            div.social-links {
                text-align: right;
                width: 40%;

                ul.social-links {
                    float: none;
                    display: inline-block;
                    margin: 0;
                    padding: 27px 0;
                }
            }
        }
    }

    @media only screen and (max-width: 1699px) and (min-width: 1366px) {
        .footer-top-wrapper {
            padding: 0 30px;
        }

        .footer-bottom-wrapper {
            padding: 0 30px;
        }
    }

    @media only screen and (max-width: 1365px) {
        text-align: center;
        .footer-top-wrapper {
            display: block;

            .help,
            .shop,
            .company,
            .visit-us,
            .community {
                width: auto;
                max-width: 500px;
                margin: 0 auto;

                .title {
                    line-height: 30px;
                    padding-bottom: 20px;
                }

                .form-subscribe-header label {
                    line-height: 20px;
                }
            }
        }

        .footer-bottom-wrapper {
            .content {
                padding: 20px 0;
                line-height: 50px;

                & > div {
                    width: 100% !important;
                    float: none;
                }

                .copyright {
                    line-height: 30px;
                }

                div.social-links {
                    text-align: center;

                    ul.social-links {
                        padding: 15px 0;
                    }
                }
            }
        }
    }
}