#footer{padding:0; width:100%; overflow:hidden;}
#footer .footer-bottom-wrapper{font-size:0.91em; padding:16px 0; border-top:1px solid #d2d2d2; background-color:#FFF;}

#footer p { text-align:left; }
#footer address{float:left; color:#474747;}
#footer ul {float:left; margin-bottom:9px;}
#footer ul li{padding:0 10px 0 8px; float:left; background:url(../images/footer_link_divider.gif) right 7px no-repeat;}
#footer ul li:first-child{padding-left:0;}
#footer ul li a{text-decoration:none; line-height:1.5em;}
#footer ul li a:hover{text-decoration:none;}
#footer ul.links li:first-child{padding-left:8px!important;}

#footer .store-switcher{float:none; padding-top:9px;}

#footer .clear.tablet{display:none;}
#footer .form-language,
#footer .form-currency{float:right;}
#footer .form-language label,
#footer .form-currency label{float:left; line-height:1.5em; padding-left:5px;}
#footer .form-language select,
#footer .form-currency select{margin-left:5px; margin-top:-2px;}
#footer .form-language a{float:left; margin-left:5px; margin-top:2px;}
#footer .form-currency a{float:left; margin-left:6px; margin-top:2px;}
#footer .footer-blocks-divider{height:17px; width:1px; margin:0 5px 0 9px; border-right:1px solid #d5d5d5; float:right;}
#footer .form-language,
#footer .form-currency,
#footer .footer-blocks-divider{position:relative; top:-26px;}

#footer .footer-columns-wrapper{background-color:#f6f6f6; padding:36px 0 54px;}

#footer .footer-columns-wrapper .custom_footer img{margin-bottom:18px;}
#footer .footer-columns-wrapper .custom_footer a{text-transform:uppercase; display:block;}
#footer .footer-columns-wrapper .custom_footer p{padding:5px 0 9px; line-height:1.7em;}

#footer .footer-columns-wrapper .title{color:#747474; font-size:1.33em; line-height:1.5em; text-transform:uppercase; margin-bottom:3px;}
#footer .footer-columns-wrapper .title span{display:none;}
#footer .custom-footer-content ul{padding:16px 0 0 12px;}
#footer .custom-footer-content ul li{padding:0; background:none; float:none; display:block; line-height:1.7em;}

#footer .contacts-footer-content li{padding:0; background:none; float:none; margin-bottom:5px;}
#footer .contacts-footer-content li label{display:none;}
#footer .contacts-footer-content .fields .field:first-child{margin-bottom:5px;}
#footer .contacts-footer-content .field,
#footer .contacts-footer-content .input-box,
#footer .contacts-footer-content .input-text,
#footer .contacts-footer-content .form-list{width:100%;}
#footer .contacts-footer-content input.input-text{width:80%;}
#footer .contacts-footer-content .buttons-set{padding-right:0;}
#footer .contacts-footer-content .required{display:none;}


#footer { background: url(../images/footer_divider.png) repeat-x; padding-top: 18px; color: #333; }
#footer a { color: #333; }
#footer address { float: none; font: 16px/40px Arial; }
#footer .footer-bottom-wrapper { padding-bottom: 70px; }
#footer .footer-columns-wrapper { padding-top: 0; background-color: #e5e5e5; }
#footer .ships-to .row-1 {border-bottom: 1px solid #666666; font-size: 18px; color: #666; padding: 20px 0; display: inline-block;}
#footer .ships-to .row-2 {margin-top: -10px; background-color: #ccc; display: inline-block;}
#footer .ships-to .row-3 {font-size: 20px; color: #666; display: inline-block; margin-bottom: 20px;}
#footer .ships-to .row-3 span.seperator-h {font-size: 16px; color: #666; margin: 0 10px; }
#footer .contact-map { display: inline-block; }
#footer .contact-map a { display: inline-block; height: 80px; padding-left: 60px; background: url(../images/footer/i_map.png) no-repeat left top; }
#footer .contact-map a span { padding: 15px 15px; text-align: left; display: inline-block; vertical-align: middle; font: 16px/24px Arial; height: 47px; border: 1px solid #cfcfcf; }
#footer .contact-map a span strong { font-weight: bold; }
#footer .contact-seperator { border-left: 1px solid #ccc; height: 80px; display: inline-block; margin: 0 8%; }
#footer .contact-phone { display: inline-block; height: 80px; padding-left: 80px; background: url(../images/footer/i_call.png) no-repeat left top; width: 226px; text-align: left; }
#footer .contact-phone p { font: 16px/24px Arial; }

#footer .block-subscribe { float: right; }
#footer .block-subscribe .block-content { display: block !important; }
#footer .block-subscribe .block-content div { display: inline-block; }
#footer .block-subscribe .block-content label { font: bold 14px/32px Arial; }
#footer .block-subscribe .block-content #newsletter { line-height: 32px; height: 32px; font-size: 14px; }
#footer .block-subscribe .block-content button.button span { line-height: 18px; height: 32px; font-size: 14px; }
#footer .block-subscribe .block-content button.button > span {  background-color: #ed5842; }


/* Widget: Social Links */
ul.social-links { overflow:hidden; float:left; }

ul.social-links li {
    float:left; 
    padding:0 6px 0 0!important;
    background:none!important;
}

ul.social-links li a {
    display:block; 
    width:21px;
    height:21px;
    text-decoration:none;
    background-image:url(../images/social_icons.png);
    background-position:0 0;
    background-repeat:no-repeat;
}
ul.social-links li a:hover{text-decoration:none;}
ul.social-links li a.twitter{background-position:-27px top;}
ul.social-links li a.rss{background-position:-108px top;}
ul.social-links li a.facebook{background-position:left top;}
ul.social-links li a.googleplus{background-position:-81px top;}
ul.social-links li a.linkedin{background-position:-54px top;}
ul.social-links li a.youtube{background-position:left bottom;}
ul.social-links li a.pinterest{background-position:-27px bottom;}
/* //Social Links */

ul.social-links li a { height: 32px; width: 32px; }
ul.social-links li a.facebook { background-position: -0 top; }
ul.social-links li a.twitter { background-position: -32px top; }
ul.social-links li a.pinterest { background-position: -64px top; }
ul.social-links li a.instagram { background-position: -96px top; }
ul.social-links li a.youtube { background-position: -128px top; }
ul.social-links li a.facebook:hover { background-position: -0 bottom; }
ul.social-links li a.twitter:hover { background-position: -32px bottom; }
ul.social-links li a.pinterest:hover { background-position: -64px bottom; }
ul.social-links li a.instagram:hover { background-position: -96px bottom; }
ul.social-links li a.youtube:hover { background-position: -128px bottom; }

.container_12 .grid_9 {
    max-width: 934px;
    width: 75%;
    float: left;
    margin-right: 10px;
}

.container_12 .grid_2 {
    width: 192px;
    float: left;
    margin-right: 10px;
}

.container_12 .grid_3 {
    width: 298px;
    float: left;
    margin-right: 10px;
}

.custom-footer-content {display: block !important;}
.custom-footer-content ul li { font-size: 14px; }
.custom-footer-content ul li:first-child a { color: #ed5843 !important; padding: 10px 0; font-weight: bold; }
.custom-footer-content.notice { margin-top: 20px; background-color: #fff; padding: 20px; color: #666; font: 14px/20px Arial; display: inline-block !important; position: relative; width: 200px; height: 90px; overflow: hidden; }
.custom-footer-content.notice p strong { font-weight: bold; line-height: 30px; }
.custom-footer-content.notice #reload-notice { position: absolute; right: 5px; top: 5px; display: block; width: 19px; height: 19px; background: url(../images/i_refresh.png) center center no-repeat;text-indent: -9999px; }
