@import '_slick.less';
@import '_slick-theme.less';

.cms-home {
	.page-main {
		width: 100%;
		margin-left: 0;
        margin-right: 0;
        padding: 0;
	}

	.column.main {
		padding-top: 0;
		background: #fff;

		.transparent {
			transition-property: color, background-color;
			-webkit-transition-property: color,background-color;
			transition-duration:0.3s;
			-webkit-transition-duration:0.3s;
		}
	}	

	.section-home {
		margin-top: -@v3-header-height - @v3-header-padding-v * 2;

		.content {
			max-width: @v3-container-max-width;
			margin: 0 auto;
			padding: 0 30 * @v3-base-desktop-vw;

			@media only screen and (max-width: @v3-mobile-max-width) {
				max-width: 100%;
				padding: 0 50 * @v3-base-mobile-vw;
			}
		}

		.text-center {
			text-align: center;
		}

		.text-right {
			text-align: right;
		}

		.banner {
			.content {
				position: relative;
			}

			.spec {
				position: absolute;
				left: 30 * @v3-base-desktop-vw;
				width: 670 * @v3-base-desktop-vw;
				top: 50%;
				margin-top: -600 * @v3-base-desktop-vw;

				color: #fff;

				p.h1 {
					font-family: 'Proxima Nova Rg';
					font-size: 50em;
					font-weight: bold;
					line-height: 60 * @v3-base-desktop-vw;
					margin-bottom: 20 * @v3-base-desktop-vw;
				}

				p.h2 {
					font-family: 'Proxima Nova Rg';
					font-size: 22em;
					font-weight: bold;
					line-height: 36 * @v3-base-desktop-vw;
					margin-bottom: 60 * @v3-base-desktop-vw;
				}

				a.btn-link {
					display: inline-block;
					line-height: 60 * @v3-base-desktop-vw;
					padding: 0 30 * @v3-base-desktop-vw;
					color: #fff;
					border: 1px solid #fff;

					font-family: 'Proxima Nova Lt';
					font-size: 17em;
					font-weight: 600;
					text-transform: uppercase;

					i {
						vertical-align: middle;
					}
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				.spec {
					width: 470 * @v3-base-mobile-vw;
					left: 50%;
					margin-left: -235 * @v3-base-mobile-vw;
					text-align: center;
					margin-top: -350 * @v3-base-mobile-vw;

					p.h1 {
						font-size: 34em;
						line-height: 40 * @v3-base-mobile-vw;
					}

					p.h2 {
						font-size: 18em;
						font-family: 'Proxima Nova Cn Lt';
						line-height: 30 * @v3-base-mobile-vw;
					}

					a.btn-link {
						font-family: 'Proxima Nova Cn Lt';
						line-height: 60 * @v3-base-mobile-vw;
						padding: 0 30 * @v3-base-mobile-vw;
					}
				}
			}
		}

		.our-story {
			padding: 140 * @v3-base-desktop-vw 0;
			border-bottom: 1px solid @v3-border-color;

			.content {
				display: flex;
				& > div {
					width: 50%;

					&.left {
						padding-right: 60 * @v3-base-desktop-vw;
					}
				}

				img {
					max-width: 100%;
				}

				.title {
					font-family: 'Proxima Nova Rg';
					font-size: 33em;
					font-weight: bold;
					line-height: 40 * @v3-base-desktop-vw;
					padding: 30 * @v3-base-desktop-vw 0;
					margin-bottom: 40 * @v3-base-desktop-vw;
					text-transform: uppercase;
					background: url(../images/v3/i_sharp_shape.png) left bottom no-repeat;
				}

				p.h1 {
					font-family: 'Avenir LT Std';
					font-weight: 500;
					font-size: 26em;
					line-height: 30 * @v3-base-desktop-vw;
					padding: 15 * @v3-base-desktop-vw 0;
				}

				p.description {
					font-family: 'Avenir LT Std';
					font-weight: 300;
					font-size: 20em;
					line-height: 30 * @v3-base-desktop-vw;
					margin-bottom: 20 * @v3-base-desktop-vw;
					color: #585f66;
				}

				a.btn-link-default {
					display: inline-block;
					background-color: #000;
					color: #fff;
					font-family: 'Proxima Nova Lt';
					font-size: 17em;
					font-weight: 600;
					text-transform: uppercase;
					margin-top: 40 * @v3-base-desktop-vw;
					line-height: 20 * @v3-base-desktop-vw;
					padding: 15 * @v3-base-desktop-vw 50 * @v3-base-desktop-vw;
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				padding: 100 * @v3-base-mobile-vw 0;

				.content {
					display: block;
					text-align: center;

					& > div {
						width: 100%;
						&.left {
							padding: 0;
						}
					}

					.title {
						background-position: center bottom;
						line-height: 40 * @v3-base-mobile-vw;
						padding: 0 0 30 * @v3-base-mobile-vw;
						margin-bottom: 50 * @v3-base-mobile-vw;

					}

					p.h1 {
						line-height: 30 * @v3-base-mobile-vw;
						padding: 15 * @v3-base-mobile-vw 0;
					}

					p.description {
						line-height: 30 * @v3-base-mobile-vw;
						margin-bottom: 50 * @v3-base-mobile-vw;
					}	

					a.btn-link-default {
						margin-top: 40 * @v3-base-mobile-vw;
						line-height: 25 * @v3-base-mobile-vw;
						padding: 15 * @v3-base-mobile-vw 60 * @v3-base-mobile-vw;
					}
				}
			}
		}

		.popular-collections {
			padding: 140 * @v3-base-desktop-vw 0;

			.content {
				.row {
					display: flex;

					.col {
						width: 50%;
						padding: 0;

						&.left {
							padding-right: 15 * @v3-base-desktop-vw;
						}

						&.right {
							padding-left: 15 * @v3-base-desktop-vw;
						}
					}

					&.top {
						padding-bottom: 30 * @v3-base-desktop-vw;
					}

					&.bottom {
						padding-top: 30 * @v3-base-desktop-vw;
					}
				}

				img {
					width: 100%;
				}

				.title {
					font-family: 'Proxima Nova Rg';
					font-size: 33em;
					font-weight: bold;
					line-height: 40 * @v3-base-desktop-vw;
					padding: 30 * @v3-base-desktop-vw;
					text-transform: uppercase;
					margin-bottom: 40 * @v3-base-desktop-vw;
					background: url(../images/v3/i_sharp_shape.png) left bottom no-repeat;

					&.text-center {
						background-position: center bottom;
					}
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				padding: 100 * @v3-base-mobile-vw 0;

				.content {

					& > .row {
						display: block;

						& > .col  {
							width: 100%;
							padding: 15 * @v3-base-desktop-vw 0 !important;
						}
					}

					.title {
						background-position: center bottom;
						line-height: 40 * @v3-base-mobile-vw;
						padding: 0 0 30 * @v3-base-mobile-vw;
						margin-bottom: 50 * @v3-base-mobile-vw;

					}
				}
			}

		}

		.guarantee {
			padding: 140 * @v3-base-desktop-vw 0;
			background: url(../images/v3/home/bg-guarantee.png) center center;
			background-size: cover;

			.content {

				display: flex;

				.col {
					width: 50%;
				}

				img {
					width: 523 * @v3-base-desktop-vw;
					visibility: hidden;
				}

				.title {
					font-family: 'Proxima Nova Rg';
					font-size: 33em;
					font-weight: bold;
					line-height: 48 * @v3-base-desktop-vw;
					padding: 20* @v3-base-desktop-vw 0;
					margin-bottom: 40 * @v3-base-desktop-vw;
					text-transform: uppercase;
					background: url(../images/v3/i_sharp_shape.png) left bottom no-repeat;
				}

				ul {
					li {
						background: url(../images/v3/i_tick.png) left center no-repeat;
						padding-left: 50px;

						font-family: 'Avenir LT Std';
						font-weight: 300;
						font-size: 22em;
						line-height: 30 * @v3-base-desktop-vw;
						margin-bottom: 20 * @v3-base-desktop-vw;

						a {
							color: #0d1d2c;
						}
					}
				}

				a.btn-link-default {
					display: inline-block;
					background-color: #000;
					color: #fff;
					font-family: 'Proxima Nova Lt';
					font-size: 17em;
					font-weight: 600;
					margin-top: 40 * @v3-base-desktop-vw;
					line-height: 50 * @v3-base-desktop-vw;
					padding: 0 50 * @v3-base-desktop-vw;
					text-transform: uppercase;
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				padding: 100 * @v3-base-mobile-vw 0;
				background: #f4f4f4;

				.content {
					display: block;
					text-align: center;

					.col {
						width: 100%;
					}

					.title {
						background-position: center bottom;
						line-height: 48 * @v3-base-mobile-vw;
						padding: 20* @v3-base-mobile-vw 0;
						margin-bottom: 40 * @v3-base-mobile-vw;
					}

					ul {
						width: 260 * @v3-base-mobile-vw;
						margin: 0 auto;

						li {
							line-height: 30 * @v3-base-mobile-vw;
							margin-bottom: 20 * @v3-base-mobile-vw;
							text-align: left;

							padding-left: 50 * @v3-base-mobile-vw;
							background-size: 23 * @v3-base-mobile-vw 17 * @v3-base-mobile-vw;
						}
					}

					a.btn-link-default {
						margin-top: 40 * @v3-base-mobile-vw;
						line-height: 60 * @v3-base-mobile-vw;
						padding: 0 50 * @v3-base-mobile-vw;					
					}
				}
			}			
		}		

		.section-ipc {
			padding: 140 * @v3-base-desktop-vw 0;

			.content {
				position: relative;

				img {
					max-width: 1071 * @v3-base-desktop-vw;
				}

				.title {
					font-family: 'Proxima Nova Rg';
					font-size: 33em;
					font-weight: bold;
					line-height: 40 * @v3-base-desktop-vw;
					padding: 30 * @v3-base-desktop-vw 0;
					text-transform: uppercase;
					margin-bottom: 40 * @v3-base-desktop-vw;
					background: url(../images/v3/i_sharp_shape.png) left bottom no-repeat;

					&.text-center {
						background-position: center bottom;
					}
				}

				.text-block {
					width: 50%;
					padding: 60 * @v3-base-desktop-vw 130 * @v3-base-desktop-vw;
					position: absolute;
					left: 30 * @v3-base-desktop-vw;
					top: 50%;
					margin-top: -260 * @v3-base-desktop-vw;
					background-color: #fff;
					border: 1px solid @v3-border-color;
				}

				p.description {
					font-family: 'Avenir LT Std';
					font-weight: 300;
					font-size: 20em;
					line-height: 30 * @v3-base-desktop-vw;
					margin-bottom: 20 * @v3-base-desktop-vw;
					letter-spacing: 0;
					color: #585f66;
				}

				a.btn-link-default {
					margin-top: 40 * @v3-base-desktop-vw;
					display: inline-block;
					background-color: #000;
					color: #fff;
					font-family: 'Proxima Nova Lt';
					font-size: 17em;
					font-weight: 600;
					line-height: 50 * @v3-base-desktop-vw;
					text-transform: uppercase;
					padding: 0 50 * @v3-base-desktop-vw;
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				padding: 0 0 100 * @v3-base-mobile-vw;
				background: #fefefe;

				.content {
					margin-left: 0;
					margin-right: 0;
					max-width: 100%;
					padding-left: 0;
					padding-right: 0;

					text-align: center;

					img {
						width: 100%;
						max-width: 100%;
					}

					.title {
						line-height: 40 * @v3-base-mobile-vw;
						padding: 30 * @v3-base-mobile-vw 0;
						margin-bottom: 40 * @v3-base-mobile-vw;
					}

					.text-block { 
						width: 650 * @v3-base-mobile-vw;
						margin: -200 * @v3-base-mobile-vw auto 0;
						padding: 50 * @v3-base-mobile-vw 85 * @v3-base-mobile-vw;
						position: inherit;
					}

					p.description {
						line-height: 30 * @v3-base-mobile-vw;
						margin-bottom: 20 * @v3-base-mobile-vw;
					}

					a.btn-link-default {
						margin-top: 40 * @v3-base-mobile-vw;
						line-height: 60 * @v3-base-mobile-vw;
						padding: 0 50 * @v3-base-mobile-vw;					
					}
				}
			}						
		}		

		.instagram {
			padding: 140 * @v3-base-desktop-vw 0;
			background-color: #f4f4f4;

			.content {

				img {
					width: 100%;
				}

				.title {
					font-family: 'Proxima Nova Rg';
					font-size: 33em;
					font-weight: bold;
					line-height: 40 * @v3-base-desktop-vw;
					padding: 30 * @v3-base-desktop-vw 0;

					text-transform: uppercase;
					margin-bottom: 40 * @v3-base-desktop-vw;
					background: url(../images/v3/i_sharp_shape.png) left bottom no-repeat;

					&.text-center {
						background-position: center bottom;
					}
				}

				.images {
					display: flex;

					margin-left: -15 * @v3-base-desktop-vw;
					margin-right: -15 * @v3-base-desktop-vw;

					.col {
						width: 100% / 6;
						padding: 0 15 * @v3-base-desktop-vw;
					}

					margin-bottom: 60 * @v3-base-desktop-vw;
				}

				a.btn-link-default {
					display: inline-block;
					background-color: #000;
					border: 1px solid #000;
					color: #fff;
					font-family: 'Proxima Nova Lt';
					font-size: 17em;
					font-weight: 600;
					line-height: 50 * @v3-base-desktop-vw;
					text-transform: uppercase;
					width: 210 * @v3-base-desktop-vw;
					margin: 10 * @v3-base-desktop-vw 15 * @v3-base-desktop-vw;
				}

				a.btn-link-second {
					display: inline-block;
					background-color: #fff;
					border: 1px solid #000;
					color: #000;
					font-family: 'Proxima Nova Lt';
					font-size: 17em;
					font-weight: 600;
					line-height: 50 * @v3-base-desktop-vw;
					text-transform: uppercase;
					width: 210 * @v3-base-desktop-vw;
					margin: 10 * @v3-base-desktop-vw 15 * @v3-base-desktop-vw;
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				padding: 100 * @v3-base-mobile-vw 0;

				.content {
					.title {
						line-height: 40 * @v3-base-mobile-vw;
						padding: 30 * @v3-base-mobile-vw 0;
						margin-bottom: 40 * @v3-base-mobile-vw;
					}

					.images {
						display: flex;
						flex-wrap: wrap;

						margin-left: -15 * @v3-base-mobile-vw;
						margin-right: -15 * @v3-base-mobile-vw;

						.col {
							width: 100% / 3;
							padding: 10 * @v3-base-mobile-vw;
						}

						margin-bottom: 60 * @v3-base-mobile-vw;
					}

					a.btn-link-default {
						line-height: 50 * @v3-base-mobile-vw;
						width: 210 * @v3-base-mobile-vw;
						margin: 10 * @v3-base-mobile-vw 15 * @v3-base-mobile-vw;
					}

					a.btn-link-second {
						line-height: 50 * @v3-base-mobile-vw;
						width: 210 * @v3-base-mobile-vw;
						margin: 10 * @v3-base-mobile-vw 15 * @v3-base-mobile-vw;
					}	
				}			
			}
		}

		.section-steps {
			padding: 140 * @v3-base-desktop-vw 0;

			.content {

				.title {
					font-family: 'Proxima Nova Rg';
					font-size: 33em;
					font-weight: bold;
					line-height: 30 * @v3-base-desktop-vw;
					text-transform: uppercase;
					margin-bottom: 40 * @v3-base-desktop-vw;
					padding-bottom: 30 * @v3-base-desktop-vw;
					background: url(../images/v3/i_sharp_shape.png) left bottom no-repeat;

					sub {
						font-size: 0.6em;
						line-height: 30 * @v3-base-desktop-vw;
					}

					&.text-center {
						background-position: center bottom;
					}
				}

				.steps {
					position: relative;
					margin-bottom: 20 * @v3-base-desktop-vw;

					&:before {
						content: "";
						display: block;
						border-top: 1px solid #000;
						position: absolute;
						width: 80%;
						left: 10%;
						top: 30 * @v3-base-desktop-vw;
					}

					&:after {
						content: "";
						display: block;
						clear: both;
					}

					.step {
						float: left;
						width: 20%;
						text-align: center;
						position: relative;
						padding: 0 50 * @v3-base-desktop-vw;

						font-family: 'Avenir LT Std';
						font-weight: 300;
						font-size: 20em;
						line-height: 30 * @v3-base-desktop-vw;
						margin-bottom: 20 * @v3-base-desktop-vw;
						letter-spacing: 0;
						color: #0d1d2c;						

						.number {
							text-align: center;
							span {
								display: inline-block;
								background-color: #fff;
								width: 59 * @v3-base-desktop-vw;
								height: 60 * @v3-base-desktop-vw;
								border: 1px solid #000;
								line-height: 60 * @v3-base-desktop-vw;
								border-radius: 50%;
								margin-bottom: 40 * @v3-base-desktop-vw;
							}
						}
					}
				}

				a.btn-link-default {
					display: inline-block;
					background-color: #000;
					border: 1px solid #000;
					color: #fff;
					font-family: 'Proxima Nova Lt';
					font-size: 17em;
					font-weight: 600;
					line-height: 50 * @v3-base-desktop-vw;
					text-transform: uppercase;
					padding: 0 50 * @v3-base-desktop-vw;
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				padding: 100 * @v3-base-mobile-vw 0;
				.content {

					.title {
						line-height: 50 * @v3-base-mobile-vw;
						margin-bottom: 40 * @v3-base-mobile-vw;
						padding-bottom: 20 * @v3-base-mobile-vw;

						sub {
							font-size: 0.6em;
							line-height: 30 * @v3-base-mobile-vw;
						}
					}

					.steps {
						white-space: nowrap;
						overflow: hidden;
						margin-bottom: 20 * @v3-base-mobile-vw;

						&:before {
							width: 315 * 4 * @v3-base-mobile-vw;
							left: 315 / 2 * @v3-base-mobile-vw;
							top: 30 * @v3-base-mobile-vw;
						}


						.step {
							width: 315 * @v3-base-mobile-vw;
							padding: 0 50 * @v3-base-mobile-vw;
							line-height: 30 * @v3-base-mobile-vw;
							margin-bottom: 20 * @v3-base-mobile-vw;
							float: none;
							display: inline-block;
							white-space: normal;

							.number {
								span {
									width: 59 * @v3-base-mobile-vw;
									height: 60 * @v3-base-mobile-vw;
									line-height: 60 * @v3-base-mobile-vw;
									margin-bottom: 40 * @v3-base-mobile-vw;
								}
							}

						}
					}

					a.btn-link-default {
						line-height: 50 * @v3-base-mobile-vw;
						padding: 0 50 * @v3-base-mobile-vw;
					}

				}
			}
		}		

		.testimonials {
			padding: 140 * @v3-base-desktop-vw 0;
			background-color: #f4f4f4;

			.content-spec {
				margin: 0;
				padding: 0 300 * @v3-base-desktop-vw;

				.title {
					font-family: 'Proxima Nova Rg';
					font-size: 33em;
					font-weight: bold;
					line-height: 40 * @v3-base-desktop-vw;
					padding: 30 * @v3-base-desktop-vw 0;
					text-transform: uppercase;
					margin-bottom: 40 * @v3-base-desktop-vw;
					background: url(../images/v3/i_sharp_shape.png) left bottom no-repeat;

					&.text-center {
						background-position: center bottom;
					}
				}

				.review-slider {
					li {
						.review-wrapper {
							padding: 30 * @v3-base-desktop-vw 60 * @v3-base-desktop-vw;
							display: flex;

							.review-avatar {
								min-width: 100 * @v3-base-desktop-vw;
							}

							.review-info {
								text-align: left;
								padding-left: 20 * @v3-base-desktop-vw;

								.review-content {
									font-family: 'Avenir LT Std';
									font-weight: 300;
									font-size: 20em;
									line-height: 30 * @v3-base-desktop-vw;
								}

								.customer-name {
									font-family: 'Proxima Nova Rg';
									font-size: 19em;
									font-weight: bold;
									line-height: 30 * @v3-base-desktop-vw;
									text-transform: uppercase;
								}

								.customer-rate {
									width: 80px;
									height: 16px;
									background: url(../images/v3/i_star_inactive.png);

									span {
										display: block;
										height: 100%;
										background: url(../images/v3/i_star_active.png);
									}
								}
							}
						}
					}

					.slick-prev,
					.slick-next {
						text-indent: -9999px;
						background: #fff;
						width: 60px;
						height: 60px;
						cursor: pointer;
						z-index: 9998;
						border-radius: 0;

						&:before {
							position: absolute;
							width: 36px;
							height: 36px;
							left: 50%;
							top: 50%;
							margin-left: -18px;
							margin-top: -18px;
							background-image: url(../images/v3/arrows.png);
						}

						&:active {
							box-shadow: none;
						}
					}

					.slick-prev {
						left: 0;
						margin-left: -300 * @v3-base-desktop-vw;						
						&:before {
							background-position: left top;
						}
					}
					.slick-next {
						right: 0;
						margin-right: -300 * @v3-base-desktop-vw;
						&:before {
							background-position: right bottom;
						}
					}
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				padding: 100 * @v3-base-mobile-vw 0;
				.content-spec {
					padding: 0;

					.title {
						line-height: 40 * @v3-base-mobile-vw;
						padding: 30 * @v3-base-mobile-vw 0;
						margin-bottom: 40 * @v3-base-mobile-vw;
					}

					.review-slider {
						li {
							.review-wrapper {
								display: block;
								padding: 30 * @v3-base-mobile-vw 100 * @v3-base-mobile-vw;

								.review-avatar {
									img {
										display: inline-block;
									}
									margin-bottom: 20 * @v3-base-mobile-vw;
								}

								.review-info {
									text-align: center;
									padding-left: 20 * @v3-base-mobile-vw;

									.review-content {
										line-height: 30 * @v3-base-mobile-vw;
									}

									.customer-name {
										line-height: 30 * @v3-base-mobile-vw;
									}

									.customer-rate {
										margin-left: auto;
										margin-right: auto;
									}
								}
							}
						}

						.slick-prev,
						.slick-next {
							width: 60 * @v3-base-mobile-vw;
							height: 60 * @v3-base-mobile-vw;
						}
						.slick-prev {
							margin-left: 0;
						}
						.slick-next {
							margin-right: 0;
						}
					}
				}
			}
		}		

		.visit-us {
			padding: 140 * @v3-base-desktop-vw 0;
			border-bottom: 1px solid @v3-border-color;

			.content {

				display: flex;

				.col-5 {
					width: 100% * 5/12;
					padding-right: 60 * @v3-base-desktop-vw;
				}

				.col-7 {
					width: 100% * 7/12;
				}

				img {
					max-width: 100%;
				}

				.title {
					font-family: 'Proxima Nova Rg';
					font-size: 33em;
					font-weight: bold;
					line-height: 40 * @v3-base-desktop-vw;
					padding: 30 * @v3-base-desktop-vw 0;
					text-transform: uppercase;
					margin-bottom: 40 * @v3-base-desktop-vw;
					background: url(../images/v3/i_sharp_shape.png) left bottom no-repeat;
				}

				p.description {
					font-family: 'Avenir LT Std';
					font-weight: 300;
					font-size: 20em;
					line-height: 30 * @v3-base-desktop-vw;
					margin-bottom: 20 * @v3-base-desktop-vw;
					color: #585f66;

					strong {
						color: #000;
					}
				}

				a.btn-link-default {
					margin-top: 40 * @v3-base-desktop-vw;
					display: inline-block;
					background-color: #000;
					color: #fff;
					font-family: 'Proxima Nova Lt';
					font-size: 17em;
					font-weight: 600;
					line-height: 50 * @v3-base-desktop-vw;
					text-transform: uppercase;
					padding: 0 50 * @v3-base-desktop-vw;
				}
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				padding: 100 * @v3-base-mobile-vw 0;

				.content {
					display: block;
					text-align: center;

					.col-5 {
						width: 100%;
						padding-right: 0;
					}

					.col-7 {
						width: 100%;
					}

					img {
						width: 100%;
					}

					.title {
						line-height: 40 * @v3-base-mobile-vw;
						padding: 60 * @v3-base-mobile-vw 0 30 * @v3-base-mobile-vw;
						margin-bottom: 40 * @v3-base-mobile-vw;

						background-position: center bottom;
					}

					p.description {
						line-height: 30 * @v3-base-mobile-vw;
						margin-bottom: 20 * @v3-base-mobile-vw;
						padding: 0 55 * @v3-base-mobile-vw;
					}

					a.btn-link-default {
						margin-top: 40 * @v3-base-mobile-vw;
						line-height: 50 * @v3-base-mobile-vw;
						padding: 0 50 * @v3-base-mobile-vw;
					}

				}
			}			
		}

		.notice {
			font-family: 'Avenir LT Std';
			font-weight: 300;
			font-size: 20em;
			line-height: 30 * @v3-base-desktop-vw;
			padding: 30 * @v3-base-desktop-vw;
			color: #080501;

			b {
				font-weight: normal;
			}

			@media only screen and (max-width: @v3-mobile-max-width) {
				line-height: 30 * @v3-base-mobile-vw;
				padding: 30 * @v3-base-mobile-vw;
			}
		}
	}	
}

@media only screen and (min-width: @v3-desktop-min-width) {
	.section-home {
		body.sticky.cms-home & {
		    margin-top: -@v3-header-height;
		}

		.slideInUp,
		.content * {

			visibility: hidden;
			opacity: 0;
			-webkit-transition: all 0.7s ease-out;
			      transition: all 0.7s ease-out;
			-webkit-transform: translate3d(0, 50px, 0);
			transform: translate3d(0, 50px, 0); 

		    &.slideInUp2{transition-delay: 0.2s;}
		    &.slideInUp3{transition-delay: 0.4s;}
		}

		.is-active {
			.slideInUp,
			.content * {
				visibility: visible;
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}

		.title {
			background-size: 55 * @v3-base-desktop-vw 9 * @v3-base-desktop-vw !important;
		}
	}
}

@media only screen and (max-width: @v3-mobile-max-width) {
	.section-home {
		.title {
			background-size: 55 * @v3-base-mobile-vw 9 * @v3-base-mobile-vw !important;
		}
	}
}