.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-ExtraBoldOblique',
    @font-weight: 800,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedOblique',
    @font-weight: 500,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Condensed',
    @font-weight: 500,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Bold',
    @font-weight: bold,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-BookOblique',
    @font-weight: normal,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Book',
    @font-weight: normal,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedExtraBold',
    @font-weight: 800,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedLight',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT',
    @font-weight: 500,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedLightObl',
    @font-weight: 300,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT',
    @font-weight: 500,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-BoldOblique',
    @font-weight: bold,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-ExtraBold',
    @font-weight: 800,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedBoldOblique',
    @font-weight: bold,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondExtraBoldObl',
    @font-weight: 800,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Heavy',
    @font-weight: 900,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-HeavyOblique',
    @font-weight: 900,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-LightOblique',
    @font-weight: 300,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-Oblique',
    @font-weight: 500,
    @font-style: italic
);

.lib-font-face(
    @family-name: 'Futura LT',
    @font-path: '@{baseDir}fonts/FuturaLT-CondensedBold',
    @font-weight: bold,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'FuturaSHOP',
    @font-path: '@{baseDir}fonts/FuturaSHOP-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Montserrat',
    @font-path: '@{baseDir}fonts/Montserrat-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name: 'Montserrat Semi',
    @font-path: '@{baseDir}fonts/Montserrat-SemiBold',
    @font-weight: 600,
    @font-style: normal
);

/* Reset ================================================================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x:hidden; 
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
     max-width: 100%;
     width: auto;
}


/* Lists */
ul,ol         { list-style:none; }
ul > li, ol > li { margin: 0; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; display:inline-block; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }

.clear,
.clear-2{clear:both;}

a {  
    text-decoration:none;
    -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;
    color:#909090;
}
a:hover {
    text-decoration:none;
}
:focus        { outline:0; }

/* Headings */
h1, div.title { font-size:1.5em; line-height:normal; font-weight:normal; }
h2, div.sub-title { font-size:1.33em; line-height:normal; font-weight:normal; margin-bottom:9px;}
h3            { font-size:1.09em; line-height:normal; font-weight:bold; margin-bottom:9px;}
h4            { font-size:1em; line-height:normal; font-weight:bold; margin-bottom:9px;}
h5            { font-size:0.91em; line-height:normal; font-weight:bold; margin-bottom:9px;}
h6            { font-size:0.91em; line-height:normal; font-weight:normal; margin-bottom:9px;}

h1,h2,h3,h4,h5,h6{font-family: Arial, sans-serif;}

/* ======================================================================================= */

@dm-color-red: #ed5842;
@dm-color-black-bright: #909090;

body {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.5em;
}

a {
    transition: all 200ms ease;
    color: @dm-color-black-bright;

    &:visited {
        color: @dm-color-black-bright;
    }

    &:hover {
        color: @dm-color-red;
    }
}