@dm-color-red: #ed5842;
@dm-color-black-bright: #909090;

@link__color: #909090;
@link__text-decoration: none;
@link__hover__color : #ed5842;
@link__hover__text-decoration: none;
@link__active__text-decoration: none;

@list__margin-bottom: 0;
@list__margin-top: 0;
@list-item__margin-bottom: 0;
@list-item__margin-top: 0;

@breadcrumbs-link__color: #909090;
@breadcrumbs-link__visited__color: #909090;
@breadcrumbs-link__hover__color: #ff0030;

@font-size__s: 16px;