// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-grid-items-per-row-layout-default: 2;

@product-grid-items-per-row-layout-1-screen-s: 3;
@product-grid-items-per-row-layout-1-screen-m: 4;
@product-grid-items-per-row-layout-1-screen-l: 5;

@product-grid-items-per-row-layout-2-left-screen-s: 3;
@product-grid-items-per-row-layout-2-left-screen-m: 4;
@product-grid-items-per-row-layout-2-left-screen-l: '';

@product-grid-items-per-row-layout-2-right-screen-s: 3;
@product-grid-items-per-row-layout-2-right-screen-m: 4;
@product-grid-items-per-row-layout-2-right-screen-l: '';

@product-grid-items-per-row-layout-3-screen-s: 3;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';

@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

@toolbar-mode-icon-font-size: 26px;
@product-h1-margin-bottom-desktop: @indent__base;

@import 'module/_listings.less';
@import 'module/_toolbar.less';
@import 'module/_ring_design_options.less';
@import 'module/_ring_eternity_options.less';

.catalog-product-view {
    .breadcrumbs,
    #maincontent {
        max-width: @v3-container-max-width; 
        margin: 0 auto;
    }

    #maincontent {
        padding: 60 * @v3-base-desktop-vw 30 * @v3-base-desktop-vw;
    }

    .breadcrumbs{
        padding:9px 10px 12px;

        ul.items {
            text-align:left;
            float:none;
            position:relative;
            font-size:12px;
            li { display:inline; }
            li span {margin:0 5px; }
            li a { text-decoration:none; }
            li a:hover { text-decoration:none; }
            li strong { color: #ff0030; }
        }
    }

    .product-info-stock-sku {
        color: #909090;
        padding-top: 10px;
        padding-bottom: 20px;

        .availability {
            float: right;

            span {
                color: #ff0030;
            }
        }

        .attribute.sku {
            float: left;

            strong {
                font-weight: normal;
            }

            .value {
                display: inline-block;
            }
        }

        &:after {
            content: "";
            clear: both;
            display: block;
        }
    }

    /* Meigee Tabs */
    .product.info.detailed {
        width:100%;
        overflow:hidden;
        margin: 0!important;
        padding:0!important;

        .product.data.items {
            .item.title {
                float:left;
                height:31px;
                overflow:hidden;
                margin: 0;
                font-size: 12px;
                border: 0 none;
    
                &:first {
                    border-left: 0 none;
    
                    a {
                        padding-left:5px;
                    }
                }
    
                &:last {
                    border-right: 0 none;
                }
    
                a {
                    display:block;
                    padding:0 15px 12px;
                    color:#676767;
                    position:relative;
                    overflow:hidden;
                    height:30px;
                    text-transform:uppercase;
                    border: 0 none;
                    border-bottom:1px solid #d2d2d2;        
                    font-weight: 300;
                    font-size: 12px;
                    background: #fff;
    
                    &:hover {
                        color: #ff0030;
                        border-color: #ff0030;
                    }
                }
    
                &.active {
                    a, a:hover {
                        font-weight: bold;
                        border-color: #ff0030;
                        color: #ff0030;
                    }
                }
            }
    
            .item.content {
                padding:18px 0 20px;
                margin-top: 29px;

                & > div:first {
                    border-top:1px solid #d2d2d2;    
                }

                .box-collatoral {
                    padding: 9px 0 0;
                    margin-bottom: 0;
                    font-size: 1em;
                    line-height: 1.5em;                    
                }
                
                #product-attribute-specs-table.data-table td.label, #product-attribute-specs-table.data-table th.label { font-weight: normal; }
                #product-attribute-specs-table.data-table th { font-size: 12px; line-height: 14px; text-align: left; }
                #product-attribute-specs-table.data-table th.sub-title { font-weight: bold; }
                #product-attribute-specs-table.data-table td { font-size: 12px; line-height: 14px; padding: 9px; }
                
                &#shipping p.red { color: #900; float: left; clear: both; }
                &#shipping p.txt { float: left; }
                &#shipping .title-divider { margin: 10px 0; }
                
                &#whatyouget li { line-height: 18px; }
                &#whatyouget p.red-head { color: #800000; font-weight: bold; text-decoration: underline; text-transform: uppercase; }
            }
        }
    }

    .diamond-education-link {
        padding: 10px 0;
    }

    /* Product Options */
    .product-options-wrapper { 
        padding:18px 9px; 
        margin:9px 0 0; 
        border:1px solid #d2d2d2; 
        background-color:#fafafa; 

        .fieldset > .field {
            margin-bottom: 15px;
        }

        .fieldset > .field:not(.choice) {
            .label {
                display: block;
                font-weight: bold; 
                color:#605d5d; 
                font-size: 11px;
                float: none;
                text-align: left;
            }

            .control {
                width: 100%;

                select {
                    height: 24px;
                    padding: 0;
                    font-size: 11px;
                    line-height: 22px;
                }
            }
        }
    }
    .product-options-bottom {
        .price-box {
            margin: 0 34px 0 0;
            max-width: 300px;

            .normal-price {
                span.price {
                    font-size: 32px;
                    line-height: 35px;
                }    
            }

            .old-price {
                display: none !important;
            }
            
            .price-label {
                display: none !important;
            }
        }

        .box-tocart {
            float: left;

            .field.qty {
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;

                .label {
                    display: none;
                }

                input.qty {
                    float: left;
                    margin-top: 0;
                    padding: 8px;
                    width: 40px;
                    height: 35px;
                    text-align: center;
                }

                .control {
                    width: auto;
                }
            }

            .actions {
                float: left;
            }
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .product-options-bottom { padding:9px; margin-bottom:18px; border:1px solid #d2d2d2; background-color:#fafafa; border-top:0; }
    .product-options-bottom .add-to-cart{padding-bottom:13px; float:left;}
    .product-options-bottom .price-box { padding:0!important; float:left;}
    .product-options-bottom .add-to-cart label{display:none;}
    .product-options-bottom .add-to-links{float:left;}

    .product-social-links {
        float: left;
        padding: 0 18px;

        a.mailto.friend {
            display: none;
        }

        .product-addto-links {
            a {
                display: block;
                text-align: left;
                padding: 0;
                line-height: 18px;
                font-size: 11px;

                &.towishlist{
                    padding-left: 18px;
                    background:url(../images/wishlist_marker.png) left center no-repeat;
                }
                &.tocompare{
                    padding-left: 18px;
                    background:url(../images/compare_marker.png) left center no-repeat;
                }
            }
        }
    }
}