// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-grid-items-per-row-layout-default: 2;

@product-grid-items-per-row-layout-1-screen-s: 3;
@product-grid-items-per-row-layout-1-screen-m: 4;
@product-grid-items-per-row-layout-1-screen-l: 5;

@product-grid-items-per-row-layout-2-left-screen-s: 3;
@product-grid-items-per-row-layout-2-left-screen-m: 4;
@product-grid-items-per-row-layout-2-left-screen-l: '';

@product-grid-items-per-row-layout-2-right-screen-s: 3;
@product-grid-items-per-row-layout-2-right-screen-m: 4;
@product-grid-items-per-row-layout-2-right-screen-l: '';

@product-grid-items-per-row-layout-3-screen-s: 3;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';

@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

@toolbar-mode-icon-font-size: 26px;
@product-h1-margin-bottom-desktop: @indent__base;

@import 'module/_listings.less';
@import 'module/_toolbar.less';
@import 'module/_ring_design_options.less';
@import 'module/_ring_eternity_options.less';

.catalog-product-view {
    .breadcrumbs,
    #maincontent {
        max-width: @v3-container-max-width; 
        margin: 0 auto;
    }

    #maincontent {
        box-sizing: border-box;
        padding: 60 * @v3-base-desktop-vw 30 * @v3-base-desktop-vw 0;

        .column.main {
            .product.media.grid_6 {
                .like-dislike-buttons-set {
                    font-size: 16px;
                    padding-left: 30px;

                     a {
                         line-height: 24px;
                     }
                }
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        @media only screen and (max-width: @v3-mobile-max-width) {
            width: 100%;
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .breadcrumbs {
        display: none;
        padding:9px 0 12px;

        ul.items {
            text-align:left;
            float:none;
            position:relative;
            font-size:14px;
            li { display:inline; }
            li span {margin:0 5px; }
            li a { text-decoration:none; }
            li a:hover { text-decoration:none; }
            li strong { color: #000; }
        }
    }

    .product-view-default {

        font-family: @v3-title-font-family-rg;

        &:after {
            display: block;
            clear: both;
            content: "";
        }

        h1.page-title {
            font-size: 22px;
            font-weight: bold;
            font-family: @v3-title-font-family;
            color: #000;
            line-height: 31px;
            margin-bottom: 11px;
            text-transform: capitalize;
        }

        .product-options-wrapper { 
            padding-bottom: 20px;

            .fieldset > .field:not(.choice) {
                margin: 0;

                .label {
                    font-size: 11px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #000;
                    margin: 20px 0 10px 0;
                    display: inline-block;
                    padding: 0;
                    text-align: left;
                }

                .control {
                    width: 100%;

                    select {
                        min-width: 70%;
                        display: block;
                        margin-bottom: 10px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-position: right center;
                        background-image: url(//cdn.shopify.com/s/files/1/0545/0961/t/28/assets/ico-select.svg?1119);
                        background-repeat: no-repeat;
                        background-position: right 10px center;
                        background-color: transparent;
                        padding-right: 28px;
                        text-indent: 0.01px;
                        text-overflow: '';
                        cursor: pointer;
                        border: 1px solid gray;
                        max-width: 100%;
                        padding: 0 10px;
                        border-radius: 0px;

                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
        }

        /* Product Options */
        .product-options-bottom {

            .price-box {
                font-size: 28px;
                font-weight: bold;
                font-family: @v3-title-font-family;
                color: #000;
                line-height: 40px;
                margin: 20px 0;

                .normal-price {
                    span.price {
                        font-size: 32px;
                        line-height: 35px;
                    }    
                }

                .old-price {
                    display: none !important;
                }
                
                .price-label {
                    display: none !important;
                }
            }

            .box-tocart {
                .field.qty {
                    display: none;
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 10px;

                    .label {
                        display: none;
                    }

                    input.qty {
                        float: left;
                        margin-top: 0;
                        padding: 8px;
                        width: 40px;
                        height: 35px;
                        text-align: center;
                    }

                    .control {
                        width: auto;
                    }
                }

                .actions {
                    float: none;

                    button.button {
                        text-align: center;
                        width: 280px;
                        max-width: 100%;
                        display: inline-block;

                        span {
                            padding: 0;
                            margin: 0;
                            display: block;
                            width: 100%;
                            height: 100%;

                            span {
                                padding: 0;
                                margin: 0;

                                line-height: 44px;
                                text-transform: capitalize;
                                font-family: @v3-title-font-family-rg;
                                font-weight: bold;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .product-info-detail {
            .data-table th,
            .data-table td,
            .attribute,
            .description {
                text-align: left;
                border: 0 none;
                font-size: 14px;
                font-weight: 400;
                font-family: @v3-title-font-family-rg;
                line-height: 22px;
                color: #000;
                background: none;
                padding: 0;
                margin: 0;
            }

            .data-table th {
                width: 1px;
                padding-right: 10px;
                &.label {
                    padding-left: 20px;
                    position: relative;

                    &:before {
                        display: list-item;
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 100%;                        
                    }
                }
            }

            .sku div.value {
                display: inline-block;
                text-transform: uppercase;
            }

            .description h2 {
                display: none;
            }
        }
    }

    .content-bottom {
        padding-top: 30px;
    }

    .slick-dots {
        bottom: -50px;
    }

    .slick-dots li {
        padding: 0;
        margin: 0;

        button {

        }

        button:before {
            font-size: 10px;
        }
    }

    .product-reviews {
        overflow: hidden;
    }

    @media only screen and (min-width: @v3-desktop-min-width) {
        .product.media.default {
            width: 58.333%;
            margin: 0;

            #gallery {
                li {
                    list-style: none;
                    text-align: center;
                }
            }
        }

        .product-info-main.default {
            width: 41.666%;
            margin: 0;
            background: #f8f8f8;
            padding: 40px;
            position: sticky; 
            top: 54px;

            .page-title-wrapper {
                padding: 0;
            }

            .product-add-form {
                margin-bottom: 30px;
            }
        }

        .product-description ul {
            list-style: inherit;
            padding-left: 20px;
            margin-bottom: 20px;
        }

        .product-static-blocks {
            padding: 30 * @v3-base-desktop-vw 0;
            margin-bottom: 20 * @v3-base-desktop-vw;
            border-top: 1px solid #eaeaea;
            position: relative;
            z-index: 9;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    line-height: 41 * @v3-base-desktop-vw;

                    &.block-title {
                        text-transform: uppercase;
                        font-family: "Proxima Nova Rg";
                        font-size: 20em;
                        color: #000;
                        padding-right: 40 * @v3-base-desktop-vw;
                    }

                    &:not(.block-title) {
                        font-family: "Avenir LT Std";
                        font-size: 20em;
                        color: #000;
                    }

                    a {
                        line-height: 43 * @v3-base-desktop-vw;
                        position: relative;
                        display: inline-block;
                        padding: 0 30 * @v3-base-desktop-vw;
                        border: 1px solid transparent;
                        border-bottom: none;
                        white-space: nowrap;

                        i {
                            font-size: 1.5em;
                            color: #000;
                            vertical-align: middle;
                        }
                        
                        span {
                            display: none;
                            position: absolute;
                            font-size: 0.8em;
                            line-height: 24 * @v3-base-desktop-vw;
                            width: 100%;
                            background: #fff;
                            padding: 20px;
                            border: 1px solid #eaeaea;
                            border-top: 0 none;
                            left: 0;
                            white-space: normal;
                        }

                        &:hover {
                            color: inherit;

                            padding-top: 20px;
                            margin-top: -20px;

                            border-color: #eaeaea;

                            span {
                                display: block;
                            }
                        }
                    }

                    &.six-months-financing a i {
                    }
                }
            }
        }

        .product-reviews {
            padding: 100 * @v3-base-desktop-vw 0 150 * @v3-base-desktop-vw;
            background: #f6f6f6;

            .review-background {
                position: absolute;
                left: 0;
                margin-top: -100 * @v3-base-desktop-vw;
                width: 100%;
                background: #f6f6f6;
                z-index: 0;
            }

            .review-wrapper {
                position: relative;
                z-index: 1;

                li.slick-slide {
                    background: #fff;
                    margin: 0 15 * @v3-base-desktop-vw;
                    padding: 50 * @v3-base-desktop-vw;

                    .customer-info {
                        margin-bottom: 40 * @v3-base-desktop-vw;
                        position: relative;

                        .customer-name {
                            font-family: @v3-title-font-family;
                            font-weight: 700;
                            color: #000;
                            text-transform: uppercase;
                            font-size: 19em;
                            line-height: 30px;
                        }

                        .customer-rate {
                            width: 80px;
                            height: 16px;
                            background: url(../images/v3/i_star_inactive.png);

                            span {
                                display: block;
                                height: 100%;
                                background: url(../images/v3/i_star_active.png);
                            }

                            i {
                                color: #f5a82e;
                                font: normal normal normal 17px/1 FontAwesome;
                                &:before {
                                    content: '\f005';
                                }
                            }
                        }

                        .review-avatar {
                            position: absolute;
                            display: inline-block;
                            right: 0;
                            top: 5px;

                            img {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }

                    .review-content {
                        font-family: @v3-title-font-family-rg;
                        color: #000;
                        font-size: 20em;
                        line-height: 32px;
                        text-overflow: ellipsis;
                    }
                }
            }

            .block-title {
                font-family: @v3-title-font-family;
                font-weight: 700;
                font-size: 33em;
                line-height: 70 * @v3-base-desktop-vw;
                text-transform: uppercase;
                text-align: center;
                color: #000;
                padding-bottom: 20 * @v3-base-desktop-vw;
                margin-bottom: 40 * @v3-base-desktop-vw;
                background: url(../images/v3/i_sharp_shape.png) center bottom no-repeat;
            }
        }
    }

    @media only screen and (max-width: @v3-mobile-max-width) {
        .product.media.default {
            width: 100% !important;
            display: block;
            float: none;
            margin: 0;

            #gallery {
                margin-bottom: 120 * @v3-base-mobile-vw; 

                li {
                    list-style: none;

                    img {
                        margin: 0 auto;
                    }
                }
                
                .slick-dots li {
                    padding: 0;
                    margin: 0;

                    button {

                    }

                    button:before {
                        font-size: 10px;
                    }
                }

                img.lazy, .video-wrapper {
                    visibility: hidden;
                    opacity: 0;
                }

                .slick-current {
                    img.lazy, .video-wrapper {
                        visibility: visible;
                        opacity: 1;
                        transition: opacity 0.5s;
                    }
                }

                .video-wrapper {
                    position: relative;
                    &:after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }

        .product-info-main.default {
            width: 100% !important;
            display: block;
            float: none;
            margin: 0;
            background: #f8f8f8;
            padding: 40px;

            .page-title-wrapper {
                padding: 0;
            }

            .product-add-form {
                margin-bottom: 30px;
            }
        }

        .product-static-blocks {
            padding-bottom: 100 * @v3-base-mobile-vw;
            position: relative;
            z-index: 1;

            ul {
                li {
                    line-height: 30px;

                    &.block-title {
                        font-family: @v3-title-font-family;
                        font-size: 16px;
                        line-height: 60px;
                        color: #000;
                        padding-right: 40 * @v3-base-desktop-vw;
                    }

                    &:not(.block-title) {
                        font-family: @v3-title-font-family-rg;
                        font-size: 14px;
                        padding: 10px 0;
                    }

                    a {
                        line-height: 30px;
                        position: relative;
                        display: block;
                        border-bottom: none;
                        white-space: nowrap;
                        color: #000;

                        i {
                            font-size: 30px;
                            color: #000;
                            vertical-align: middle;
                            display: inline-block;
                            width: 30px;
                            text-align: center;
                            margin-right: 20px;
                        }
                        
                        span {
                            display: none;
                            font-size: 14px;
                            line-height: 24px;
                            width: 100%;
                            background: #fff;
                            padding: 20px;
                            border-top: 0 none;
                            left: 0;
                            white-space: normal;
                        }

                        &.show {
                            color: inherit;

                            span {
                                display: block;
                            }
                        }
                    }

                    &.six-months-financing a i {
                    }
                }
            }                
        }

        .product-reviews {
            padding: 100 * @v3-base-mobile-vw 0 150 * @v3-base-mobile-vw;
            background: #f6f6f6;
    
            .review-background {
                position: absolute;
                left: 0;
                margin-top: -100 * @v3-base-mobile-vw;
                width: 100%;
                background: #f6f6f6;
                z-index: 0;
            }
    
            .review-wrapper {
                position: relative;
                z-index: 1;
    
                li.slick-slide {
                    background: #fff;
                    margin: 0 15 * @v3-base-mobile-vw;
                    padding: 50 * @v3-base-mobile-vw;
    
                    .customer-info {
                        margin-bottom: 40 * @v3-base-mobile-vw;
                        position: relative;
    
                        .customer-name {
                            font-family: @v3-title-font-family;
                            font-weight: 700;
                            color: #000;
                            text-transform: uppercase;
                            font-size: 16px;
                            line-height: 30px;
                        }
    
                        .customer-rate {
                            width: 80px;
                            height: 16px;
                            background: url(../images/v3/i_star_inactive.png);
    
                            span {
                                display: block;
                                height: 100%;
                                background: url(../images/v3/i_star_active.png);
                            }
    
                            i {
                                color: #f5a82e;
                                font: normal normal normal 17px/1 FontAwesome;
                                &:before {
                                    content: '\f005';
                                }
                            }
                        }
    
                        .review-avatar {
                            position: absolute;
                            display: inline-block;
                            right: 0;
                            top: 5px;
    
                            img {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
    
                    .review-content {
                        font-family: @v3-title-font-family-rg;
                        color: #000;
                        font-size: 14px;
                        line-height: 24px;
                        text-overflow: ellipsis;
                    }
                }
            }
    
            .block-title {
                font-family: @v3-title-font-family;
                font-weight: 700;
                font-size: 28px;
                line-height: 30px;
                text-align: center;
                color: #000;
                padding-bottom: 30 * @v3-base-mobile-vw;
                margin-bottom: 40 * @v3-base-mobile-vw;
                background: url(../images/v3/i_sharp_shape.png) center bottom no-repeat;
                background-size: 55 * @v3-base-mobile-vw 9 * @v3-base-mobile-vw !important;
            }
        }
    }
}