// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

.catalog-category-view {
    .breadcrumbs,
    #maincontent {
        max-width: 1272px; 
        margin: 0 auto;
    }

    @media only screen and (min-width: 768px) and (max-width: 977px) {
        .column.main {
            padding: 0 10px;
        }
    }

    .breadcrumbs{
        padding:9px 10px 12px;

        ul.items {
            text-align:left;
            float:none;
            position:relative;
            font-size: 12px;
            li { display:inline; }
            li span {margin:0 5px; }
            li a { text-decoration:none; }
            li a:hover { text-decoration:none; }
            li strong { color: #ff0030; }
        }
    }

    .page-title-wrapper {
        float: none;
        clear: both;
        background-color: #fff;
        margin: 20px auto;
        display: block;
        padding: 15px 20px 10px;
        color: #333;

        h1 {
            display: block !important;
            color: #000;
            font-size: 34px;
            line-height: 50px;
            font-weight: bold;
            letter-spacing: .15em;
            text-align: center;
            text-transform: uppercase;

            &:after {
                border-bottom: 1px solid #d5d5d5;
                border-color: #d5d5d5;
                content: "";
                display: block;
                margin: 18px auto;
                width: 45px;                
            }

            @media only screen and (max-width: 767px) {
                &.page-title {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    .category-description {
        display: none;
    }

    #top-filter-bar {
        .filter-options-content {
            display: none;
            border: 0 none;
        }
    }

    #top-filter-bar {

        @filter-cell-padding-left-right: 20px;
        
        width: 100%;
        text-align: left;
    
        background-color: #fff;
        margin-bottom: 20px;
        border-bottom: 2px solid #333;
    
        @media (min-width: 1280px) {
            &.fixed {
                position: fixed;
                top: 0;
                z-index: 9999;
            }
        }
    
        .top-filters {
    
            @media (min-width: 1280px) {
                height: 38px;
                overflow: hidden;
            }

            ul.filter-options {
                border: 0 none;
            }
    
            li {
                &#filter-title {
                    font-style: italic;
                    white-space: nowrap;
                    padding-left: 0;
                    font-size: 14px;
                }
    
                &.filter-label {
    
                    color: #505050;
    
                    @media (min-width: 1280px) {
                        display: inline-block !important;
                    }
    
                    @media (max-width: 1279px) {
                        display: block;
                        &:not(#filter-title) {
                            display: none;
                        }
                        width: auto !important;
                    }
    
                    padding: 10px 20px;
                    font-size: 14px;
                    text-align: left;
                    box-sizing: content-box;

                    .filter-options-title {
                        display: inline;
                        line-height: 20px;
                    }
                }
    
                b {
                    font-weight: bold;
                }
    
                .filter-anchor {
                    white-space: nowrap;
                    color: #505050;
                    font-family: 'Montserrat Semi';
    
                    @media (max-width: 1279px) {
                        display: block;
                    }
    
                    &:hover, &.see-all, &.active {
                        text-decoration: underline;
                        color: #ed5842;
                    }
                }
    
                .content {
                    margin-bottom: 0;
                    padding: 15px 0 15px;
                    text-align: left;
                    position: inherit;
                    display: none;
    
                    @media (max-width: 1279px) {
                        margin-top: 10px;
                        padding: 10px;
                        background-color: #efefef;
                    }
    
                    a {
                        padding: 5px 0;
                        line-height: 21px;
                        font-size: 12px;
                        white-space: nowrap;
                        color: #505050;
                        display: block;
    
                        img {
                            max-width: 21px;
                            margin-right: 5px;
                        }
    
                        &:hover {
                            text-decoration: underline;
                            color: #505050;
                        }
                    }

                    .am-show-more {
                        display: none !important;
                    }

                    input[type="radio"], span.count {
                        display: none;
                    }

                    .swatch-option {
                        min-width: 21px;
                        width: 21px;
                        height: 21px;
                        border: 0 none;
                        outline: none;
                    }

                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                }
            }

            &:after {
                clear: both;
                display: block;
                content: "";
            }
        }
    
        #filter-diamond-shape {
            @center-diamond-shape-col-width: 120px;
    
            .content {
                @media (min-width: 1280px) {
                    width: @center-diamond-shape-col-width * 2 + 10;
                }
                .am-swatch-options {
                    display: block;
                }
        
                form a {
                    width: @center-diamond-shape-col-width;
                    display: inline-block;

                    @media (min-width: 1280px) {
                        &:nth-child(2n+1) {
                            clear: both;
                        }
                    }                    
                }
            }
        }
    
        #filter-setting-style {
            @setting-style-col-width: 110px;
    
            .content {
                @media (min-width: 1280px) {
                    width: @setting-style-col-width * 2 + 10;
                }

                .am-swatch-options {
                    display: block;
                }
    
                form a {
                    width: @setting-style-col-width;
                    display: inline-block;

                    @media (min-width: 1280px) {
                        &:nth-child(2n+1) {
                            clear: both;
                        }
                    }
                }
            }
        }
    
        #filter-design-collection {
            @design-collection-col-width: 122px;
            @design-collection-col-count: 9;
    
            .content {
    
                @media (min-width: 1280px) {
                    width: @design-collection-col-width * @design-collection-col-count;
                    margin-left: -1 * (@design-collection-col-width * (@design-collection-col-count - 4));
                }
    
                ol li {
                    width: @design-collection-col-width;
                    float: left;

                    @media (min-width: 1280px) {
                        &:nth-child(9n+1) {
                            clear: both;
                        }
                    }
                }
            }
        }
    
        @media (max-width: 1279px) {
            #filter-title {
                cursor: pointer;
                span {
                    display: block;
                }
    
                &.expanded {
                    span {
                        background: url(../images/mobile/i_menu_arrow_up.png) no-repeat right center transparent;
                    }
                }
    
                &.collapsed {
                    span {
                        background: url(../images/mobile/i_menu_arrow_down.png) no-repeat right center transparent;
                    }
                }
            }
        }
    }
    

    .category-products {

        .products-grid li.item:hover span.label-new{
            background-position:-84px 0;
        }
        
        /* View Type: Grid */
        .products-grid {
            clear:both;
            list-style:none !important;
            padding: 0 !important;
            margin: 0;
            position:relative;
            overflow:visible!important;
        }
        .products-grid.last { border-bottom:0; }
        .products-grid li.item { float:left; padding:0 0 28px; position:relative;}
        .products-grid .product-image { position:relative; display:block; border:1px solid #e5e5e5; padding:0; text-align:center; margin:0 0 14px; }
        .products-grid .price-box{margin:9px 0; float:left;}
        .products-grid .price-box.map-info a{display:block;}
        .products-grid button{float:right;}
        .products-grid .ratings{float:right;}
        .products-grid .ratings .rating-box{display:block; float:none; margin-bottom:5px; margin-right:0;}
        .products-grid .ratings .amount a{text-align:right; float:right;}
        .products-grid button{margin-bottom:18px;}
        .products-grid .add-to-links {float:left;}
        .products-grid .add-to-links li { display:block; }
        .products-grid .add-to-links .separator { display:none; margin:0 2px; }
        .products-grid .grid-desc{padding-top:9px;}
        
        .products-grid li.item .product-img-box{position:relative; display:block;}
        .products-grid li.item .product-image span.image-box{
            position:absolute;
            width:100%;
            height:100%;
            left:0;
            top:0;
            opacity:0;
            -webkit-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
        }
        
        .products-grid .product-image .hover-box{position:relative;}
        
        .products-grid li.item:hover .product-image span.image-box{opacity:0.8;}
        .products-grid li.item .fancybox{position:absolute; left:87%; top:12px; opacity: 0;}
        .products-grid li.item:hover .fancybox{position:absolute; left:87%; opacity: 1;}
        /* ======================================================================================= */        


        .product-box {
            * {
                box-sizing: border-box;
            }
    
            .product-image {
                border: 0 none;
            }

            button:hover {
                background-color: #ff0030;

                span {
                    background: transparent !important;
                }
            }    
        }
    
        .product-info {
    
            .product-name {
                margin-bottom: 10px;

                &:after {
                    content: "";
                    display: block;
                    width: 37px;
                    border-bottom: 0px solid #777;
                }
            }
            
            .product-name a {
                font-family: "Montserrat Semi";
                font-weight: 600;
                font-size: 14px;
                color: #000;
                text-transform: uppercase;

                &:hover {
                    -moz-transition: all 10ms ease;
                    -webkit-transition: all 10ms ease;
                    -o-transition: all 10ms ease;
                    transition: all 10ms ease;
                    color: #ff0030;
                }
            }

            .price-box {
                display: none;
            }
    
            .recommend-items {
    
                clear: both;
                width: 100%;
    
                .recommend-item {
                    float: left;
                    width: 25%;
    
                    padding: 0 2px;
    
                    a {
                        display: block;
                    }
    
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    
        @media screen and (min-width: 1280px) {
            li.design-ring {
                .product-box {
                    position: relative;
    
                    .product-img-box {
    
                        z-index: 2;
    
                        padding: 4px;
                        border: 1px solid transparent;
    
                        -webkit-transition: border 0.5s;
                        transition: border 0.5s;					
    
                        a.product-image {
                            margin-bottom: 0;
                            background-color: #fff;
                        }
    
                        img {
                            transform: scale(0.95);
    
                            -webkit-transition: transform 0.5s;
                            transition: transform 0.5s;					
                        }
                    }
    
                    .product-info {
                        border: 1px solid #8f8f8f;
                        border-left: 0 none;
    
                        position: absolute;
                        opacity: 0;
    
                        width: ~"calc(100% + 20px)";
                        height: 100%;
                        left: 0;
                        top: 0;
    
                        padding-left: 20px;
    
                        -webkit-transition: opacity 0.5s, left 0s;
                        -webkit-transition-delay: 0s, 0.5s;
                        transition: opacity 0.5s, left 0s;
                        transition-delay: 0s, 0.5s;
    
                        .product-info-content {
                            width: 100%;
                            height: 100%;
                            padding: 15px;
                            background-color: #fafafa;
                            position: relative;
                        }
    
                        .recommend-items {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            padding: 15px;
    
                            .recommend-item {
                                padding: 0 5px;
                            }
                        }
                    }
    
                    &:hover {
    
                        .product-img-box {
                            border: 1px solid #8f8f8f;
                            border-right-color: transparent;
    
                            -webkit-transition: border 0s;
                            transition: border 0s;
                            transition-delay: 1s;
                            -webkit-transition-delay: 1s;
    
    
                            img {
                                transform: scale(1);
                                -webkit-transition: transform 0.5s;
                                transition: transform 0.5s;
                                transition-delay: 1s;
                                -webkit-transition-delay: 1s;
                            }
                        }
    
                        .product-info {
                            opacity: 1;
                            left: ~"calc(100% - 1px)";
    
                            -webkit-transition: left 0s, opacity 0.5s;
                            transition: left 0s, opacity 0.5s;
                            transition-delay: 1s, 1s;
                            -webkit-transition-delay: 1s, 1s;
                        }
                    }
                }
            }
    
            .products-grid li.item.design-ring {
                z-index: 0;
                &:hover {
                    z-index: 1;
                }
    
                &:nth-of-type(3n+3) {
                    .product-box:hover {
                        .product-img-box {
                            border: 1px solid #8f8f8f;
                            border-left-color: transparent;
                        }
    
                        .product-info {
                            left: ~"calc(-100% - 19px)";
                        }
                    }
    
                    .product-info {
                        border: 1px solid #8f8f8f;
                        border-right: 0 none;
                        padding-left: 0;
                        padding-right: 20px;
                    }				
                }
            }
        }
    }
    
    #view-more-products-wrapper {
        clear: both;
        height: 130px;
        line-height: 130px;
    
        img {
            margin-top: 50px;
        }
    
        a#view-more-products {
            display: inline-block;
            width: 120px;
            height: 120px;
            border-radius: 63px;
            border: 3px solid #ed5842;
            color: #ed5842;
            line-height: 120px;
    
            &:hover {
                color: #ff0030;
                border-color: #ff0030;
            }
        }
    }
    
    .category-cms { 
        float: none; 
        clear: both;
        background-color: #fff; 
        margin: 20px auto; 
        display: block; 
        padding: 15px 20px 10px; 
        color: #333; 
        border-top: 2px solid #333;
    
        h1 {
            color: #000; 
            font: 34px/50px "Montserrat Semi";
            letter-spacing: 0.15em;
            text-align: center; 
            text-transform: uppercase;
    
            &:after {
                border-bottom: 1px solid #d5d5d5;
                border-color: #d5d5d5;
                content: "";
                display: block;
                margin: 18px auto;
                width: 45px;
            }
    
            @media only screen and (min-width: 768px) and (max-width: 977px) {
                font: 24px/40px "Montserrat Semi";
            }
        }
    
        p {
            color: #000; 
            font: 16px/24px "Montserrat";
        }
    
        @media only screen and (max-width: 767px) {
            margin: 0px auto;
    
            h1 {
                font: 16px/24px "Montserrat Semi";
            }
    
            p {
                font: 12px/24px "Montserrat";
            }
        }
    
    }

    @media only screen and (max-width: 767px) {
        .catalog-topnav {
            display: block;
        }        
    }
}
