<!--@subject {{trans "Product"}} @-->
Name: {{var name}}<br/>
E-mail: {{var email}}<br/>
Phone: {{var phone}}<br/>
<br/>
Jewelry Type: {{var jewelrytype}}<br/>
Items needed by: {{var date}}<br/>
Preferred Metal: {{var preferredmetal}}<br/>
Price Range: {{var pricerange}}<br/>
<br/>
Comment: {{var comment}}<br/>
<br/>
Images:<br/>
{{depend imageurl1}}
<img src="{{var imageurl1}}" width="300px"/><br/>
{{/depend}}
{{depend imageurl2}}
<img src="{{var imageurl2}}" width="300px"/><br/>
{{/depend}}
{{depend imageurl3}}
<img src="{{var imageurl3}}" width="300px"/>
{{/depend}}
