// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .wishlist-notice {
        display: none;
        .lib-tooltip(bottom);

        .tooltip-content {
            min-width: 140px;
            padding: 10px 5px;
            font-size: 10em;
            display: block;
            text-align: center;
            color: #ed5842;
            left: -54px;

            &:before, &:after {
                left: 65px;
            }
        }
    }

    .wishlist-popup {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        left: 0;
        top: 0;
        z-index: 999999;
        opacity: 0;
        transition: opacity 1s;
        display: none;

        &.show {
            opacity: 1;
            display: block;
        }

        .wishlist-popup-content {
            background: white;
            padding: 30px;
            height: 170px;
            margin-top: -85px;
            position: absolute;
            top: 50%;
            left: 50%;

            width: 500px;
            margin-left: -250px;

            @media only screen and (max-width: 480px) {
                width: 300px;
                margin-left: -150px;
            }

            .wishlist-popup-close {
                .lib-button-icon(
                @icon-remove,
                @_icon-font-size: 32 * @v3-base-desktop-vw,
                @_icon-font-line-height: 32 * @v3-base-desktop-vw,
                @_icon-font-text-hide: true
                );
                .lib-button-reset();
                text-indent: 0;

                &:before {
                    font-size: 40 * @v3-base-desktop-vw;
                    line-height: 40 * @v3-base-desktop-vw;
                }

                cursor: pointer;
                float: right;
                margin-top: -35 * @v3-base-desktop-vw;
                margin-right: -35 * @v3-base-desktop-vw;
            }

            .wishlist-popup-form {
                clear: both;
                padding: 20px 0 40px;

                .wishlist-popup-form-title {
                    font-size: 16em;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                .wishlist-popup-form-fields {
                    display: flex;
                    flex-direction: row;

                    input {
                        height: 36px;
                    }
                }
            }
        }
    }
    


    .form.wishlist.items {
        .actions-toolbar {
            &:extend(.abs-reset-left-margin all);
        }
    }

    .product-info-main,
    .product-options-bottom,
    .block-bundle-summary {
        .action.towishlist {
            &:extend(.abs-action-addto-product all);
        }
    }

    .product-items,
    .products.list.items,
    .table-comparison {
        .action {
            &.towishlist {
                &:extend(.abs-actions-addto-gridlist all);
                .lib-icon-font-symbol(
                    @icon-wishlist-empty
                );
            }
        }
    }

    .account .table-wrapper .data.table.wishlist {
        .lib-table-bordered(
            @_table_type: horizontal
        );

        thead > tr > th {
            border-bottom: 0;
        }

        tbody > tr:last-child > td {
            border-bottom: 1px solid @table__border-color;
        }

        .product.name {
            display: inline-block;
            margin-bottom: @indent__s;
        }

        .box-tocart {
            margin: @indent__s 0;

            .qty {
                vertical-align: middle;
                &:extend(.abs-input-qty all);
            }
        }

        .col {
            &.item {
                width: 50%;
            }

            &.photo {
                max-width: 150px;
            }

            &.selector {
                max-width: 15px;
            }
        }

        textarea {
            margin: @indent__s 0;
        }

        .input-text.qty {
            margin-bottom: @indent__s;
        }

        .action.primary {
            vertical-align: top;
        }

        .price {
            font-weight: @font-weight__bold;
        }
    }

    .block-wishlist {
        line-height: @v3-header-height;

        .block-title {
            &:extend(.abs-block-title all);
        }

        .text {
            font-size: 24em;
            display: inline-block;

            i {
                vertical-align: middle;
            }
        }

        .counter {
            display: inline-block;
            vertical-align: middle;
            line-height: 35px;
            font-size: 10em;
            text-align: center;
            width: 25 * @v3-base-desktop-vw;
            margin-top: 3 * @v3-base-desktop-vw;
            margin-left: -25 * @v3-base-desktop-vw;
        }

        .product-item-name {
            margin-right: @indent__m;
        }
    }

    .products-grid.wishlist {
        .product {
            &-item {
                &-photo {
                    display: block;
                    margin-bottom: @indent__s;
                }

                &-name {
                    margin-top: 0;
                }

                .price-box {
                    margin: 0;
                }

                &-tooltip {
                }

                .comment-box {
                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                &-comment {
                    display: block;
                    height: 42px;
                    margin: @indent__s 0;
                }

                &-actions {
                    > * {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .box-tocart {
                    input.qty {
                        height: 32px;
                        &:extend(.abs-input-qty all);
                    }
                }
            }
        }
    }
}

.miniwishlist-wrapper.block-wishlist {
    display: inline-block;
    position: relative;
    float: right;
    margin: 0;
    padding: 0px 20px;
    text-transform: uppercase;

    @media only screen and (min-width: 640px) and (max-width: 767px) {
        padding: 0px 10px;
    }

    @media only screen and (max-width: 639px) {
        padding: 0;
    }

    .block-title {
        margin: 0;
    }

    .wishlist-content {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.25);
        padding: 0;
        margin: 0;

        .wishlist-content-wrapper {
            position: absolute;
            width: 300px;
            height: 100%;
            right: 0;
            top: 0;
            background-color: #fff;
            font-family: 'Avenir LT Std';
            font-weight: 500;                    
            line-height: 20px;

            a {
                color: #000;
            }

            .wishlist-content-title {
                display: block;
                line-height: @v3-header-height + @v3-header-padding-v * 2;
                body.sticky & {
                    line-height: @v3-header-height;
                }
                transition: line-height 0.5s;
                background-color: #000;
                color: #fff;
                text-align: center;
                font-size: 14em;
            }

            .action.close {
                .lib-button-icon(
                @icon-remove,
                @_icon-font-size: 32px,
                @_icon-font-line-height: 32px,
                @_icon-font-text-hide: true
                );
                .lib-button-reset();
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
            }

            .item-list {
            }

            .actions-toolbar {
                padding: 20px 0;
                text-align: center;

                .primary {
                    float: none;
                }
            }
        }

        .subtitle.empty {
            display: block;
            font-size: 14em;
            padding: 50px 20 * @v3-base-desktop-vw;
            text-align: center;            
        }

        .product-item {
            font-weight: normal;
            font-size: 14em;
            line-height: 20px;
            padding: 15px 15 * @v3-base-desktop-vw;
            border-bottom: 1px solid @v3-border-color;

            .product-item-info {
                width: 100%;
                display: flex;
                flex-direction: row;

                .product-item-photo {
                    width: 80px;
                }
    
                .product-item-details {
                    padding: 10px;

                    .product-item-name {
                        margin-bottom: 10px;
                        margin-right: 0;
                        display: inline-block;
                    }

                    .product-item-actions {
                        margin-top: -25px;
                        float: right;
                    }

                    .actions-secondary {
                        a.action.delete {
                            &:before {
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                font-size: 2em;
                                line-height: 28px;
                                color: #303030;
                                content: '\e606';
                                font-family: 'icons-blank-theme';
                                vertical-align: middle;
                                display: inline-block;
                                font-weight: normal;
                                overflow: hidden;
                                speak: none;
                                text-align: center;
                                
                                content: '\e604';
                            }

                            span {
                                display: none;
                            }
                        }
                    }
                }

                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }    
        }
    }
}

.guestwishlist-notice {
    line-height: 20px;
    padding-bottom: 40px;
}

#guestwishlist-wrapper {
    li.item:nth-child(4n+1) {
        margin-left: 0;
    }
    li.item:nth-child(4n+4) {
        margin-right: 0;
    }

    .product-item-details {
        margin: 10px 0 30px;

        .product-item-name {
            a span {
                font-weight: normal;
                font-size: 16em;
                line-height: 24px;  
            }
        }

        .price {
            font-size: 20em;
            line-height: 40px;
        }

        a.btn-add-to-cart {
            display: block;
            padding: 10px 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 14em;
            color: #fff;
            background-color: #999;

            &:hover {
                background-color: #ff0030;
            }
        }


        .product-item-actions {
            position: relative;
        }

        .actions-secondary {
            a.action.delete {
                position: absolute;
                right: 0px;
                top: -33px;

                &:before {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 28em;
                    line-height: 28px;
                    color: #303030;
                    content: '\e606';
                    font-family: 'icons-blank-theme';
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                    
                    content: '\e604';
                }

                span {
                    display: none;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-grid.wishlist {
        .product-item {
            border-bottom: 1px solid @secondary__color;
            &:first-child {
                border-top: 1px solid @secondary__color;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-grid.wishlist {
        margin-bottom: @indent__l;
        margin-right: -@indent__s;
        .product {
            &-item {
                padding: @indent__base @indent__s @indent__base @indent__base;
                position: relative;

                &-photo {
                    float: left;
                    margin-right: @indent__base;
                }

                &-name {
                    .lib-font-size(16);
                }

                &-actions {
                    display: block;

                    .action {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.edit {
                            float: left;
                        }

                        &.delete {
                            float: right;
                        }

                        &.edit,
                        &.delete {
                            margin-top: 7px;
                        }
                    }
                }

                &-name,
                &-description,
                .price-box,
                &-tooltip {
                    margin-left: 95px;
                }

                .box-tocart {
                    float: left;
                    margin-right: @indent__base;

                    .stock {
                        margin-top: 7px;
                    }
                }

                .giftregisty-dropdown,
                .field.qty {
                    display: none;
                }
            }

            &-image-container {
                max-width: 80px;
            }
        }
    }

    //
    //  Grid view for wishlist
    //  -----------------------------------------

    .wishlist-index-index {
        .product {
            &-item {
                width: 100%;
                &-info {
                    width: auto;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .wishlist-index-index {
        .products-grid {
            .product-item {
                margin-bottom: @indent__base;
            }

            .product-item-actions {
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: @v3-mobile-max-width) {
    .miniwishlist-wrapper.block-wishlist {
        padding-left: 10 * @v3-base-mobile-vw;
        padding-right: 10 * @v3-base-mobile-vw;

        .counter {
            width: 25 * @v3-base-mobile-vw;
            margin-left: -25 * @v3-base-mobile-vw;
            margin-top: 6 * @v3-base-mobile-vw;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid.wishlist {
        .product {
            &-item {
                &-tooltip {
                    display: inline-block;
                }

                &-actions {
                    margin: @indent__s 0 0;
                }

                .fieldset {
                    .field.qty {
                        margin-bottom: @indent__s;
                        padding-right: @indent__s;

                        .label {
                            width: auto;
                        }
                    }
                }

                .box-tocart {
                    .actions-primary {
                        margin: 0;
                    }

                    .stock {
                        margin: @indent__base 0 0;
                    }
                }
            }
        }
    }

    .wishlist-index-index {
        .product {
            &-item {
                &-info {
                    width: 240px;
                }
            }
        }

        .main {
            .form-wishlist-items {
                .actions-toolbar {
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .wishlist-index-index {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: calc(~'(100% - 4 * 24.439%) / 3');
                padding: 0;
                width: 24.439%;

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }
}
