.breadcrumbs {
    display: none !important;
}

#maincontent {
    max-width: 100% !important;
    padding: 0;
}

.ddr-page-wrapper {
    color: #000;
}

.ddr-page-wrapper * {
    vertical-align: baseline;
}

.ddr-page-wrapper h1 {
    font-weight: bold;
}

.ddr-page-wrapper h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;    
}

.ddr-page-wrapper p {
    margin: 1em 0;
}

.ddr-page-wrapper blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    color: #000;
    font-family: sans-serif;
}

.ddr-page-wrapper a {
    text-decoration: underline;
    color: rgh(0, 0, 238);
}