<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
     <diamondmansion>
         <email>
             <opinion>dm_email_template_opinion</opinion>
             <certificate>dm_email_template_certificate</certificate>
             <delivery>dm_email_template_delivery</delivery>
             <pricereserve>dm_email_template_pricereserve</pricereserve>
             <product>dm_email_template_product</product>
         </email>
     </diamondmansion>
</default>
</config>