<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="diamondmansion_extensions_designer_listing_data_source" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Designer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DiamondMansion\Extensions\Model\ResourceModel\Designer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dm_designer</argument>
            <argument name="resourceModel" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Designer</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="diamondmansion_extensions_contact_product_listing_data_source" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\Product\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DiamondMansion\Extensions\Model\ResourceModel\Contact\Product\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dm_contact_product</argument>
            <argument name="resourceModel" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\Product</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="diamondmansion_extensions_contact_certificate_listing_data_source" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\Certificate\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DiamondMansion\Extensions\Model\ResourceModel\Contact\Certificate\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dm_contact_certificate</argument>
            <argument name="resourceModel" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\Certificate</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="diamondmansion_extensions_contact_delivery_listing_data_source" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\Delivery\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DiamondMansion\Extensions\Model\ResourceModel\Contact\Delivery\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dm_contact_delivery</argument>
            <argument name="resourceModel" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\Delivery</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="diamondmansion_extensions_contact_opinion_listing_data_source" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\Opinion\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DiamondMansion\Extensions\Model\ResourceModel\Contact\Opinion\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dm_contact_opinion</argument>
            <argument name="resourceModel" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\Opinion</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="diamondmansion_extensions_contact_pricereserve_listing_data_source" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\PriceReserve\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DiamondMansion\Extensions\Model\ResourceModel\Contact\PriceReserve\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dm_contact_pricereserve</argument>
            <argument name="resourceModel" xsi:type="string">DiamondMansion\Extensions\Model\ResourceModel\Contact\PriceReserve</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dm:urlrewrites:regenerate" xsi:type="object">DiamondMansion\Extensions\Console\Command\RegenerateUrlRewrites</item>
                <item name="dm:amshopby:custompages" xsi:type="object">DiamondMansion\Extensions\Console\Command\AmshopbyCustomPages</item>
                <item name="dm:amshopby:adjustcustompages" xsi:type="object">DiamondMansion\Extensions\Console\Command\AmshopbyAdjustCustomPages</item>
                <item name="dm:addoptions:ringsize" xsi:type="object">DiamondMansion\Extensions\Console\Command\AddRingSizeOptions</item>
                <item name="dm:addoptions:cut" xsi:type="object">DiamondMansion\Extensions\Console\Command\AddCutOptions</item>
                <item name="dm:reindex:likedislike" xsi:type="object">DiamondMansion\Extensions\Console\Command\ReindexLikeDislike</item>
                <item name="dm:migrate:attribute" xsi:type="object">DiamondMansion\Extensions\Console\Command\MigrateAttribute</item>
                <item name="dm:migrate:media" xsi:type="object">DiamondMansion\Extensions\Console\Command\MigrateMedia</item>
                <item name="dm:adjust:media" xsi:type="object">DiamondMansion\Extensions\Console\Command\AdjustMedia</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="dm_plugin_add_catalog_breadcrumb_block" type="DiamondMansion\Extensions\Plugin\Catalog\Block\Product\View" />
    </type>

    <preference for="Magento\Theme\Block\Html\Breadcrumbs" type="DiamondMansion\Extensions\Override\Magento\Theme\Block\Html\Breadcrumbs"/>
    <preference for="Magento\Catalog\Controller\Category\View" type="DiamondMansion\Extensions\Override\Magento\Catalog\Controller\Category\View"/>
    <!-- <preference for="Magento\Catalog\Controller\Product\View" type="DiamondMansion\Extensions\Override\Magento\Catalog\Controller\Product\View"/> -->
    <preference for="Magento\Catalog\Block\Category\View" type="DiamondMansion\Extensions\Override\Magento\Catalog\Block\Category\View"/>
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="DiamondMansion\Extensions\Override\Magento\Catalog\Block\Product\ListProduct"/>
    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="DiamondMansion\Extensions\Override\Magento\Catalog\Block\Product\ProductList\Toolbar"/>
    <preference for="Magento\Catalog\Model\Category\Attribute\Source\Mode" type="DiamondMansion\Extensions\Override\Magento\Catalog\Model\Category\Attribute\Source\Mode"/>
    <preference for="Magento\Catalog\Model\Product" type="DiamondMansion\Extensions\Override\Magento\Catalog\Model\Product"/>
    <preference for="Magento\Customer\Model\Plugin\CustomerFlushFormKey" type="DiamondMansion\Extensions\Override\Magento\Customer\Model\Plugin\CustomerFlushFormKey"/>
    <preference for="Magento\Checkout\Controller\Cart\Index" type="DiamondMansion\Extensions\Override\Magento\Checkout\Controller\Cart\Index"/>
    <preference for="Magento\Quote\Model\Quote\Item" type="DiamondMansion\Extensions\Override\Magento\Quote\Model\Quote\Item"/>
    <preference for="Magento\Wishlist\Block\Customer\Sidebar" type="DiamondMansion\Extensions\Override\Magento\Wishlist\Block\Customer\Sidebar"/>
    <preference for="Magento\Wishlist\CustomerData\Wishlist" type="DiamondMansion\Extensions\Override\Magento\Wishlist\CustomerData\Wishlist"/>
    <preference for="Magento\Wishlist\Model\Item" type="DiamondMansion\Extensions\Override\Magento\Wishlist\Model\Item"/>
    <preference for="Magento\UrlRewrite\Model\Storage\DbStorage" type="DiamondMansion\Extensions\Override\Magento\UrlRewrite\Model\Storage\DbStorage"/>

    <preference for="Mirasvit\Seo\Observer\SeoDataObserver" type="DiamondMansion\Extensions\Override\Mirasvit\Seo\Observer\SeoDataObserver"/>
    <preference for="Mirasvit\Seo\Helper\Rewrite\Image" type="DiamondMansion\Extensions\Override\Mirasvit\Seo\Helper\Rewrite\Image"/>

    <preference for="Amasty\ShopbySeo\Controller\Router" type="DiamondMansion\Extensions\Override\Amasty\ShopbySeo\Controller\Router"/>
    <preference for="Amasty\ShopbySeo\Helper\Url" type="DiamondMansion\Extensions\Override\Amasty\ShopbySeo\Helper\Url"/>
    <preference for="Amasty\ShopbyPage\Model\Customizer\Category\Page" type="DiamondMansion\Extensions\Override\Amasty\ShopbyPage\Model\Customizer\Category\Page"/>
    <preference for="Amasty\ShopbyPage\Model\ResourceModel\PageRepository" type="DiamondMansion\Extensions\Override\Amasty\ShopbyPage\Model\ResourceModel\PageRepository"/>
</config>